node_modules
**/node_modules/**
dist
**/dist/**
coverage
**/coverage/**
*.lcov
lcov.info
.turbo
**/.turbo/**
.expo
**/.expo/**
android
ios
pnpm-lock.yaml
*.tsbuildinfo
*.ttf
*.otf
*.apk
*.aab
.cspell-cache
.husky/_
